@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;700&display=swap');
@import "reset.css";
@import "auth.css";
@import "index.css";
:root{
    --bg-primary:#1E1E1E;
    --bg--secondary:#000;
    --bg-accent:#1D9BF0;
    --text-primary:#fff;
    --text-secondary:#9A9494;
    font-size: 20px;

}
*, *::after, *::before{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
}
body{
    min-height: 100vh;
    width: 100dvw;
    background: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid;
    padding-top: 1rem;
    margin-top: 2rem;
    font-size: .9rem;
    color: var(--text-secondary);
}





@media screen and (max-width:1200px) {
    :root{
        font-size: 18px;
    }
    .container{
        width: 90%;
    }
}

@media screen and (max-width:900px) {
    :root{
        font-size: 16px;
    }
    .container{
        width: 94%;
    }
}
@media screen and (max-width:499px) {
    :root{
        font-size: 14px;
    }
    .container{
        width: 96%;
    }
}